__pycache__
build/
chckpts/
data/processed.csv
data/seq_train.csv
data/seq_val.csv
data/seq_test.csv
data/seq_combined.csv
data/ORIG_1000/
data/data_full/
data/ORIG_5/
data/.ipynb_checkpoints/
dist/
explanations/
models/
trialdumps/
combined_train.py
ideas.txt
TODOS.txt
pr_ext.egg-info/
data/data_1000/
optim/*.db
runs/
